mixin constant_input(id, options)
  - var min = options.min || -100
  - var max = options.max || 100
  - var step = options.step || 10
  - var value = options.value || 0
  - var disabled = options.disabled || false
  - var inline = options.inline || false
  - var color = options.color || ''
  - var type = options.type || 'range'

  - var wellStyle = options.wellStyle || ''
  - if (color) { wellStyle += 'border: 5px solid ' + color + ';'; }
  - if (inline) { wellStyle += 'display: inline-block; '; }

  .well.constant-input(id=id, style=wellStyle)
    .input-container
      .input-val=value
      input.input(type=type, min=min, max=max, step=step, value=value, disabled=disabled)

mixin vector_input(id, options)
  - var min = options.min || -100
  - var max = options.max || 100
  - var step = options.step || 10
  - var disabled = options.disabled || false
  - var inline = options.inline || false
  - var color = options.color || ''
  - var type = options.type || 'range'

  - var wellStyle = options.wellStyle || ''
  - if (color) { wellStyle += 'border: 5px solid ' + color + ';' }
  - if (inline) { wellStyle += 'display: inline-block; '; }

  .well(id=id, style=wellStyle)
    each dim in ['X', 'Y', 'Z']
      .input-container(class='input-container-' + dim)
        = ' ' + dim + ' = '
        - var val = options.vector[dim.toLowerCase()] || 0
        span.input-val=val
        input.input(type=type, min=min, max=max, step=step, value=val, disabled=disabled)

mixin matrix_input(id, options)
  - var min = options.min || -100
  - var max = options.max || 100
  - var step = options.step || 10
  - var disabled = options.disabled || false
  - var inline = options.inline || false
  - var color = options.color || ''
  - var type = options.type || 'range'

  - var wellStyle = options.wellStyle || ''
  - if (color) { wellStyle += 'border: 5px solid ' + color + ';' }
  - if (inline) { wellStyle += 'display: inline-block; '; }

  .well(id=id, style=wellStyle)
    each row in ['X', 'Y', 'Z']
      .row
        each col in ['X', 'Y', 'Z']
          - var dim = row + col
          .col-md-4.input-container(class='input-container-' + dim)
            - var val = options.matrix[dim.toLowerCase()] || 0
            span.input-val=val
            input.input(type=type, min=min, max=max, step=step, value=val, disabled=disabled)

