mixin slider_input(id, min, max, step, xval, yval, zval)
  .well(id=id)

    .slider-input-container.slider-input-container-X
      = ' X = '
      span.slider-input-val-X=xval
      input.slider-input-X(type='range', min=min, max=max, step=step, value=xval)

    .slider-input-container.slider-input-container-Y
      = ' Y = '
      span.slider-input-val-Y=yval
      input.slider-input-Y(type='range', min=min, max=max, step=step, value=yval)

    .slider-input-container.slider-input-container-Z
      = ' Z = '
      span.slider-input-val-Z=zval
      input.slider-input-Z(type='range', min=min, max=max, step=step, value=zval)
