mixin constant_slider_input(id, options)
  - var min = options.min || -100
  - var max = options.max || 100
  - var step = options.step || 10
  - var value = options.value || 0
  - var disabled = options.disabled || false
  - var inline = options.inline || false
  - var color = options.color || ''

  - var wellStyle = options.wellStyle || ''
  - if (color) { wellStyle += 'border: 5px solid ' + color + ';'; }
  - if (inline) { wellStyle += 'display: inline-block; '; }

  .well.constant-slider-input(id=id, style=wellStyle)
    .slider-input-container
      .slider-input-val=value
      input.slider-input(type='range', min=min, max=max, step=step, value=value, disabled=disabled)

mixin vector_slider_input(id, options)
  - var min = options.min || -100
  - var max = options.max || 100
  - var step = options.step || 10
  - var disabled = options.disabled || false
  - var inline = options.inline || false
  - var color = options.color || ''

  - var wellStyle = options.wellStyle || ''
  - if (color) { wellStyle += 'border: 5px solid ' + color + ';' }
  - if (inline) { wellStyle += 'display: inline-block; '; }

  .well(id=id, style=wellStyle)
    each dim in ['X', 'Y', 'Z']
      .slider-input-container(class='slider-input-container-' + dim)
        = ' ' + dim + ' = '
        - var val = options.vector[dim.toLowerCase()] || 0
        span.slider-input-val=val
        input.slider-input(type='range', min=min, max=max, step=step, value=val, disabled=disabled)

